@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@100;400&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: large;
  background: navajowhite;
}
h1 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 45px;
}
input {
  padding: 15px;
  width: 300px;
  font-weight: lighter;
  font-size: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: 3px salmon solid;
  text-align: center;
}
input:focus {
  outline-width: 0;
}
button {
  margin-top: 15px;
  width: 100px;
  padding: 8px 10px;
  border: 2px sandybrown solid;
  border-radius: 5px;
  background: salmon;
  color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

button:active {
  transform: translateY(2px);
}

p {
  font-size: 25px;
  font-weight: bold;
}

#headingCount {
  font-style: italic;
  font-size: 45px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  /* margin-top: 8px; */
  font-size: 30px;
}
